.container{
  font-family: 'Dosis', sans-serif;
  width: 1100px;
  margin-left: 9%;
  margin-top: 20px;
}

a.pricing {
  color: black;
}

.navbar a{
  text-decoration: none;
  padding-left: 22px;
  color: grey;
}
.pricing a{
  color: black;
}

.navbar{
  padding-left: 15px;
  padding-top: 10px;
}

.header-image{
  padding-top: 10px;
  height: 400px;
  overflow: hidden;
    position: relative;
}
/*Positions the header-image container and sizes it correctly, while
cutting off extraneous image*/

.header-image img{
    float: left;
    position: absolute;
}
/*Lets the header-image have text above it and properly positions it*/

.header-text{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 45px;
  left: 420px;
  top: 160px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
/*sets up header-image text overlay*/



/*BEGIN LISTS*/
.list{
  text-decoration: none;
  list-style-type: none;
  /*font-family: sans-serif;*/
  text-align: center;
  float: left;
  padding-left: 35px;
  width: 300px;
}

.list_item{
  border: solid #DFDFDF 1px;
  border-top-width: 0;
  background-color: #F7F7F7;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

}


.list_button{
  border: solid #DFDFDF 1px;
  border-top-width: 0;
  padding: 10px;
}

/*BEGIN List header formatting*/

.price {
  font-size: 40px;
  margin: 0;
  margin-top: 20px;
}

.month {
  color: #969696;
}


.list_head-1{
  background-color: #519251;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
font-family: 'Oswald', sans-serif;
}
.list_head-2{
  background-color: #2C4985;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: white;
}
.list_head-3{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: white;
}
/*END List header formatting*/

/*Begin button CSS*/
.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #404040;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:17px;
	padding:12px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*END LISTS*/
.text-box{
  float: left;
  margin-left: 5%;
  margin-top: 1%;
}

.table-box tr{
margin-bottom: 80px;

}

.table-box td{
max-width: 400px;
padding-left: 40px;
padding-top: 10px;
}

.box-header{
  font-size: 28px;

}


 .table-box td{
  padding: 20px;
  font-family: 'Dosis', sans-serif;
 }


/*FOOTER*/
.footer {
  text-align: center;
  font-weight: 200;
  background-color: #111111;
  width: 1280px;
  color: #657177;
  padding-top: 16px;
  padding-bottom: 16px;
  clear: both;
}

.footer a:link { color: white; }
.footer a:visited { color: white; }
.footer a:hover { color: white; }
.footer a:active { color: white; }
